OPENROUTER_API_KEY=your_key_here
POLLINATION_AI_API_KEY=your_key_here
ELEVENLABS_API_KEY=your_key_here
PEXELS_API_KEY=your_key_here
STEAM_API_KEY=your_key_here
STEAM_ID=your_steam_id_here
ITAD_API_KEY=your_key_here  # Register at https://isthereanydeal.com/apps/my/
ITAD_ID=your_itad_id_here
IDAD_SECRET=your_idad_secret_here
YOUTUBE_STREAM_KEY=your_youtube_stream_key_here
OBS_WEBSOCKET_PASSWORD=your_obs_websocket_password_here
OBS_EXE_PATH=C:\Program Files\obs-studio\bin\64bit\obs64.exe
OBS_HOST=localhost
OBS_PORT=4455
OBS_PASSWORD=
SHORTS_OUTPUT_DIR=output/shorts
DEFAULT_REPO_PATH=C:/Github/
YOUTUBE_TEST_STREAM_KEY=your_test_key_here
